:root {
    --color-background: #001B34;
    --color-dark: #363949;
    --color-white: #fff;
    --color-text: #57EFFE;
    --color-secondary: #C1F9FF;
    --color-info: #7d8da1;
    --color-light: rgba(132, 139, 200, 0.18);
    --border-radius-1: 0.4rem;
}

/* body {
    font-family: Arial, sans-serif;
    background-color: var(--color-background);
    color: var(--color-white);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
} */

.auth-section {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.auth-container {
    /* background-color: var(--color-dark); */
    border-radius: var(--border-radius-1);
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Added shadow */
    width: 100%;
}

.form-toggle {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1rem;
}

.form-toggle button {
    background-color: var(--color-dark);
    color: var(--color-text);
    border: none;
    padding: 0.5rem 1rem;
    margin-left: 1rem;
    cursor: pointer;
    font-size: 1.5rem;
    border-radius: var(--border-radius-1);
    transition: background-color 0.3s ease;
}

.form-toggle button.active,
.form-toggle button:hover {
    background-color: var(--color-text);
    color: var(--color-dark);
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#login-form,
#signup-form {
    width: 100%;
}

#login-form h2,
#signup-form h2 {
    text-align: center;
    margin-bottom: 1rem;
    color: var(--color-text);
}

#login-form input,
#signup-form input {
    width: calc(100% - 2rem);
    padding: 0.5rem;
    margin: 0.5rem 1rem;
    border: none;
    border-radius: var(--border-radius-1);
    background-color: var(--color-white);
    color: var(--color-background);
}

#login-form button,
#signup-form button {
    width: calc(100% - 2rem);
    padding: 0.5rem;
    margin: 1rem 1rem 0;
    border: none;
    border-radius: var(--border-radius-1);
    background-color: var(--color-text);
    color: var(--color-dark);
    cursor: pointer;
    display: block;
    text-align: center;
}

#login-form button:hover,
#signup-form button:hover {
    background-color: var(--color-secondary);
}

/* Responsive design */
@media (max-width: 768px) {
    .auth-container {
        padding: 1.5rem;
    }

    #login-form input,
    #signup-form input {
        width: calc(100% - 1rem);
        margin: 0.5rem 0.5rem;
    }

    #login-form button,
    #signup-form button {
        width: calc(100% - 1rem);
        margin: 1rem 0.5rem 0;
    }
}

/* Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

/* Modal Content */
.modal-content {
    background-color: var(--color-white);
    margin: 20% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.modal-content h2, .modal-content p, .modal-content button {
    margin-bottom: 10px;
}

/* Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Button Inside Modal */
.modal-content button {
    background-color: var(--color-secondary);
    color: black;
    padding: 10px 20px;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.modal-content button:hover {
    background-color: var(--color-text);
}
