@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900&family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root {
    --color-background: #001B34;
    --color-dark: #363949;
    --color-white: #fff;
    --color-text: #57EFFE;
    --color-secondary: #C1F9FF;
    --color-info: #7d8da1;
    --color-light: rgba(132, 139, 200, 0.18);
    --border-radius-1: 0.4rem;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html {
    font-size: 14px;
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: .88rem;
    background: var(--color-background);
    user-select: none;
    overflow-x: hidden;
    color: var(--color-white);
}

/* General Navigation Styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3.7rem;
    padding: 10px 2rem;
    background-color: var(--color-background);
    color: var(--color-text);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    transition: all 300ms ease;
}

.logo {
    font-size: x-large;
    font-weight: bolder;
    color: var(--color-text);
}

.nav-menu {
    display: flex;
    align-items: center;
}

.nav-menu ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.nav-menu ul li {
    margin: 0 1rem;
}

.nav-menu ul li a {
    color: var(--color-info);
    text-decoration: none;
    font-size: 1rem;
}

.nav-menu ul li a:hover {
    color: var(--color-secondary);
}

.nav-toggle {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .nav-menu {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: var(--color-background);
        border-top: 1px solid var(--color-secondary);
    }

    .nav-menu ul {
        flex-direction: column;
        width: 100%;
    }

    .nav-menu ul li {
        margin: 1rem 0;
        text-align: center;
    }

    .nav-toggle {
        display: block;
    }
}

/* Show menu when toggle is active */
.nav-menu .active {
    display: flex;
}


.options {
    opacity: 0;
    transform: translateX(100%);
    padding-right: 1rem;
}

.home {
    opacity: 0;
    transform: translateY(-100%);
    animation: fadeInFromTop 2s ease forwards;
}

@keyframes fadeInFromTop {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.active {
    color: var(--color-text);
}

.display {
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.display h1 {
    font-display: flex;
    padding-top: 45%;
    font-size: 20vh;
}

.display h2 {
    padding-top: 10rem;
    padding-left: 2rem;
    font-size: 20vh;
}

span {
    color: var(--color-text);
}

.logospan {
    color: var(--color-white);
}

/* Home Section Styles */
.home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    background-color: var(--color-background);
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: var(--color-dark);
    border-radius: var(--border-radius-1);
}


.column-left,
.column-right {
    flex: 1;
    padding: 20px;
}

.column-left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.column-left img {
    max-width: 100%;
    height: auto;
    border-radius: var(--border-radius-1);
}

.column-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--color-white);
}

.column-right h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: var(--color-text);
}

.column-right p {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 10px;
    color: var(--color-secondary);
}

/* Responsive Styles */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        text-align: center;
    }
    .column-left,
    .column-right {
        padding: 10px;
    }
    .column-right h1 {
        font-size: 2rem;
    }
    .column-right p {
        font-size: 1rem;
    }
}

/* Project Section Styles */
.project {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    background-color: var(--color-background);
}

.project-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: var(--color-dark);
    border-radius: var(--border-radius-1);
}

.project-left,
.project-right {
    flex: 1;
    padding: 20px;
}

.project-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--color-white);
}

.project-left h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: var(--color-text);
}

.project-left p {
    font-size: 1.2rem;
    line-height: 1.6;
    color: var(--color-secondary);
}

.project-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-right img {
    max-width: 100%;
    height: auto;
    border-radius: var(--border-radius-1);
}

/* Responsive Styles */
@media (max-width: 768px) {
    .project-container {
        flex-direction: column;
        text-align: center;
    }
    .project-left,
    .project-right {
        padding: 10px;
    }
    .project-left h2 {
        font-size: 1.5rem;
    }
    .project-left p {
        font-size: 1rem;
    }
}

/* Roles Section Styles */
.roles {
    padding: 50px 0;
    background-color: var(--color-background);
    text-align: center;
}

.roles-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.role {
    width: 200px;
    margin: 20px; /* Add some margin between role elements */
    padding: 20px; /* Add padding for better spacing */
    background-color: rgba(200, 200, 200, 0.5); /* Set background color to grey with 50% opacity */
    border-radius: var(--border-radius-1); /* Add border radius for rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add light shadow border */
}

.role img {
    width: 100%;
    border-radius: 50%;
}

.roles h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: var(--color-text);
}

.role h3 {
    margin: 10px 0 5px 0;
    font-size: 1.5rem;
    color: var(--color-text);
}

.role p {
    margin: 0;
    color: var(--color-secondary);
}

/* Responsive Styles */
@media (max-width: 768px) {
    .role {
        width: 45%;
    }
}

@media (max-width: 480px) {
    .role {
        width: 100%;
    }
}

.contact {
    background-color: var(--color-dark);
    color: var(--color-white);
    padding: 50px;
}

.contact-container {
    max-width: 800px;
    margin: 0 auto;
}

.contact h2 {
    text-align: center;
    margin-bottom: 30px;
}

.input-container label {
    display: block;
    margin-bottom: 10px;
}

.input-container input,
.input-container textarea {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: var(--color-secondary);
    color: var(--color-text);
    border-radius: 10px;
    margin-bottom: 20px;
}

.contact-form button {
    display: block;
    margin: 0 auto; /* Center the button horizontally */
    padding: 10px 20px;
    background-color: var(--color-info);
    color: var(--color-white);
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

.contact-form button:hover {
    background-color: var(--color-secondary);
}


@media (max-width: 768px) {
    .input-container input,
    .input-container textarea {
        margin-bottom: 10px;
    }
}


.footer {
    background-color: var(--color-background);
    color: var(--color-white);
    padding: 40px 0;
    text-align: center;
    height: fit-content;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-section {
    flex: 1 1 auto;
    margin-right: 20px;
    margin-bottom: 20px;
}

.footer h3 {
    margin-bottom: 20px;
    color: var(--color-text);
    font-size: 18px;
}

.footer p {
    margin-bottom: 10px;
}

.footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer ul li {
    display: inline-block;
    margin-bottom: 5px;
    margin-right: 10px;
}

.footer a {
    color: var(--color-text);
    text-decoration: none;
    font-size: 24px;
}

.footer-section .mail {
    font-size: 14px;
    color: var(--color-white);
}

.footer-text a {
    font-size: 18px;
    color: var(--color-secondary);
}

.footer a:hover {
    text-decoration: underline;
}

.footer-icons i {
    color: var(--color-secondary);
}

.footer-icons a:hover i {
    color: var(--color-primary); /* Change icon color on hover */
}

/* CSS */
.animate-fade-in {
    opacity: 0;
    transition: opacity 1.5s ease;
}
.animate-fade-in.active {
    opacity: 1;
}

.footer-copyright {
    text-align: center;
    margin-top: 20px;
    color: var(--color-text); 
}

.footer-copyright p {
    margin: 5px;
    justify-content: space-between;
}

.footer-copyright a{
    font-size: 12px;
}

/* CSS for the particle background */
#particles-js {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background-color: var(--color-background);
    color: var(--color-text);
}

#particles-js {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

section {
    position: relative;
    z-index: 1;
    background: rgba(0, 27, 52, 0.9); /* Semi-transparent background to see particles */
    padding: 50px 0;
}

.nav, .footer {
    position: relative;
    z-index: 1;
    background: rgba(0, 27, 52, 0.9); /* Semi-transparent background to see particles */
}

.footer a {
    color: var(--color-text);
}